<html>
<head>
<title>activity_main.xml</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
.s0 { color: #e8bf6a;}
.s1 { color: #bababa;}
.s2 { color: #6a8759;}
.s3 { color: #a9b7c6;}
</style>
</head>
<body bgcolor="#2b2b2b">
<table CELLSPACING=0 CELLPADDING=5 COLS=1 WIDTH="100%" BGCOLOR="#606060" >
<tr><td><center>
<font face="Arial, Helvetica" color="#000000">
activity_main.xml</font>
</center></td></tr></table>
<pre><span class="s0">&lt;?</span><span class="s1">xml version=</span><span class="s2">&quot;1.0&quot; </span><span class="s1">encoding=</span><span class="s2">&quot;utf-8&quot;</span><span class="s0">?&gt;</span>
&lt;LinearLayout
    <span class="s1">android:layout_margin=</span><span class="s2">&quot;2dp&quot;</span>
    <span class="s1">xmlns:android=</span><span class="s2">&quot;http://schemas.android.com/apk/res/android&quot;</span>
    <span class="s1">xmlns:app=</span><span class="s2">&quot;http://schemas.android.com/apk/res-auto&quot;</span>
    <span class="s1">xmlns:tools=</span><span class="s2">&quot;http://schemas.android.com/tools&quot;</span>
    <span class="s1">android:layout_width=</span><span class="s2">&quot;match_parent&quot;</span>
    <span class="s1">android:layout_height=</span><span class="s2">&quot;match_parent&quot;</span>
    <span class="s1">android:background=</span><span class="s2">&quot;@color/colorPrimary&quot;</span>
    <span class="s1">android:orientation=</span><span class="s2">&quot;vertical&quot;</span>
    <span class="s1">android:weightSum=</span><span class="s2">&quot;3&quot;</span>
    <span class="s0">&gt;</span>

    &lt;LinearLayout
        <span class="s1">android:background=</span><span class="s2">&quot;@color/colorPrimary&quot;</span>
        <span class="s1">android:orientation=</span><span class="s2">&quot;horizontal&quot;</span>
        <span class="s1">android:layout_width=</span><span class="s2">&quot;match_parent&quot;</span>
        <span class="s1">android:layout_height=</span><span class="s2">&quot;match_parent&quot;</span>
        <span class="s1">android:layout_weight=</span><span class="s2">&quot;1&quot;</span>
        <span class="s1">android:weightSum=</span><span class="s2">&quot;4&quot;</span><span class="s0">&gt;</span>


        &lt;android.support.v7.widget.CardView
            <span class="s1">android:layout_margin=</span><span class="s2">&quot;2dp&quot;</span>
            <span class="s1">app:cardCornerRadius=</span><span class="s2">&quot;2dp&quot;</span>
            <span class="s1">app:cardBackgroundColor=</span><span class="s2">&quot;@color/gray&quot;</span>
            <span class="s1">android:layout_weight=</span><span class="s2">&quot;1&quot;</span>
            <span class="s1">android:layout_width=</span><span class="s2">&quot;132dp&quot;</span>
            <span class="s1">android:layout_height=</span><span class="s2">&quot;132dp&quot;</span><span class="s0">&gt;</span>
            &lt;RelativeLayout
                <span class="s1">android:layout_width=</span><span class="s2">&quot;match_parent&quot;</span>
                <span class="s1">android:layout_height=</span><span class="s2">&quot;match_parent&quot;</span><span class="s0">&gt;</span>
                &lt;ImageButton
                    <span class="s1">android:backgroundTint=</span><span class="s2">&quot;@color/colorPrimary&quot;</span>
                    <span class="s1">android:id=</span><span class="s2">&quot;@+id/imageButton1&quot;</span>
                    <span class="s1">android:layout_width=</span><span class="s2">&quot;match_parent&quot;</span>
                    <span class="s1">android:layout_height=</span><span class="s2">&quot;match_parent&quot;</span>
                    <span class="s1">android:onClick=</span><span class="s2">&quot;press&quot;</span>
                    <span class="s0">/&gt;</span>
                &lt;Button
                    <span class="s1">android:layout_margin=</span><span class="s2">&quot;3dp&quot;</span>
                    <span class="s1">android:layout_alignParentEnd=</span><span class="s2">&quot;true&quot;</span>
                    <span class="s1">android:background=</span><span class="s2">&quot;@drawable/points&quot;</span>
                    <span class="s1">android:layout_width=</span><span class="s2">&quot;20dp&quot;</span>
                    <span class="s1">android:layout_height=</span><span class="s2">&quot;20dp&quot; </span><span class="s0">/&gt;</span>
            &lt;/RelativeLayout&gt;
        &lt;/android.support.v7.widget.CardView&gt;

        &lt;android.support.v7.widget.CardView
            <span class="s1">android:layout_margin=</span><span class="s2">&quot;2dp&quot;</span>
            <span class="s1">app:cardCornerRadius=</span><span class="s2">&quot;2dp&quot;</span>
            <span class="s1">app:cardBackgroundColor=</span><span class="s2">&quot;@color/gray&quot;</span>
            <span class="s1">android:layout_weight=</span><span class="s2">&quot;1&quot;</span>
            <span class="s1">android:layout_width=</span><span class="s2">&quot;132dp&quot;</span>
            <span class="s1">android:layout_height=</span><span class="s2">&quot;132dp&quot;</span><span class="s0">&gt;</span>

            &lt;RelativeLayout
                <span class="s1">android:layout_width=</span><span class="s2">&quot;match_parent&quot;</span>
                <span class="s1">android:layout_height=</span><span class="s2">&quot;match_parent&quot;</span><span class="s0">&gt;</span>
                &lt;ImageButton
                    <span class="s1">android:backgroundTint=</span><span class="s2">&quot;@color/colorPrimary&quot;</span>
                    <span class="s1">android:id=</span><span class="s2">&quot;@+id/imageButton2&quot;</span>
                    <span class="s1">android:layout_width=</span><span class="s2">&quot;match_parent&quot;</span>
                    <span class="s1">android:layout_height=</span><span class="s2">&quot;match_parent&quot;</span>
                    <span class="s1">android:onClick=</span><span class="s2">&quot;press&quot;</span>
                    <span class="s0">/&gt;</span>
                &lt;Button
                    <span class="s1">android:layout_margin=</span><span class="s2">&quot;3dp&quot;</span>
                    <span class="s1">android:layout_alignParentEnd=</span><span class="s2">&quot;true&quot;</span>
                    <span class="s1">android:background=</span><span class="s2">&quot;@drawable/points&quot;</span>
                    <span class="s1">android:layout_width=</span><span class="s2">&quot;20dp&quot;</span>
                    <span class="s1">android:layout_height=</span><span class="s2">&quot;20dp&quot; </span><span class="s0">/&gt;</span>
            &lt;/RelativeLayout&gt;

        &lt;/android.support.v7.widget.CardView&gt;

        &lt;android.support.v7.widget.CardView
            <span class="s1">android:layout_margin=</span><span class="s2">&quot;2dp&quot;</span>
            <span class="s1">app:cardCornerRadius=</span><span class="s2">&quot;2dp&quot;</span>
            <span class="s1">app:cardBackgroundColor=</span><span class="s2">&quot;@color/gray&quot;</span>
            <span class="s1">android:layout_weight=</span><span class="s2">&quot;1&quot;</span>
            <span class="s1">android:layout_width=</span><span class="s2">&quot;132dp&quot;</span>
            <span class="s1">android:layout_height=</span><span class="s2">&quot;132dp&quot;</span><span class="s0">&gt;</span>
            &lt;RelativeLayout
                <span class="s1">android:layout_width=</span><span class="s2">&quot;match_parent&quot;</span>
                <span class="s1">android:layout_height=</span><span class="s2">&quot;match_parent&quot;</span><span class="s0">&gt;</span>
                &lt;ImageButton
                    <span class="s1">android:backgroundTint=</span><span class="s2">&quot;@color/colorPrimary&quot;</span>
                    <span class="s1">android:id=</span><span class="s2">&quot;@+id/imageButton3&quot;</span>
                    <span class="s1">android:layout_width=</span><span class="s2">&quot;match_parent&quot;</span>
                    <span class="s1">android:layout_height=</span><span class="s2">&quot;match_parent&quot;</span>
                    <span class="s1">android:onClick=</span><span class="s2">&quot;press&quot;</span>
                    <span class="s0">/&gt;</span>
                &lt;Button
                    <span class="s1">android:layout_margin=</span><span class="s2">&quot;3dp&quot;</span>
                    <span class="s1">android:layout_alignParentEnd=</span><span class="s2">&quot;true&quot;</span>
                    <span class="s1">android:background=</span><span class="s2">&quot;@drawable/points&quot;</span>
                    <span class="s1">android:layout_width=</span><span class="s2">&quot;20dp&quot;</span>
                    <span class="s1">android:layout_height=</span><span class="s2">&quot;20dp&quot; </span><span class="s0">/&gt;</span>
            &lt;/RelativeLayout&gt;
        &lt;/android.support.v7.widget.CardView&gt;

        &lt;android.support.v7.widget.CardView
            <span class="s1">app:cardCornerRadius=</span><span class="s2">&quot;2dp&quot;</span>
            <span class="s1">app:cardBackgroundColor=</span><span class="s2">&quot;@color/gray&quot;</span>
            <span class="s1">android:layout_weight=</span><span class="s2">&quot;1&quot;</span>
            <span class="s1">android:layout_width=</span><span class="s2">&quot;132dp&quot;</span>
            <span class="s1">android:layout_height=</span><span class="s2">&quot;132dp&quot;</span><span class="s0">&gt;</span>
            &lt;RelativeLayout
                <span class="s1">android:layout_width=</span><span class="s2">&quot;match_parent&quot;</span>
                <span class="s1">android:layout_height=</span><span class="s2">&quot;match_parent&quot;</span><span class="s0">&gt;</span>
                &lt;ImageButton
                    <span class="s1">android:backgroundTint=</span><span class="s2">&quot;@color/colorPrimary&quot;</span>
                    <span class="s1">android:id=</span><span class="s2">&quot;@+id/imageButton4&quot;</span>
                    <span class="s1">android:layout_width=</span><span class="s2">&quot;match_parent&quot;</span>
                    <span class="s1">android:layout_height=</span><span class="s2">&quot;match_parent&quot;</span>
                    <span class="s1">android:onClick=</span><span class="s2">&quot;press&quot;</span>
                    <span class="s0">/&gt;</span>
                &lt;Button
                    <span class="s1">android:layout_margin=</span><span class="s2">&quot;3dp&quot;</span>
                    <span class="s1">android:layout_alignParentEnd=</span><span class="s2">&quot;true&quot;</span>
                    <span class="s1">android:background=</span><span class="s2">&quot;@drawable/points&quot;</span>
                    <span class="s1">android:layout_width=</span><span class="s2">&quot;20dp&quot;</span>
                    <span class="s1">android:layout_height=</span><span class="s2">&quot;20dp&quot; </span><span class="s0">/&gt;</span>
            &lt;/RelativeLayout&gt;
        &lt;/android.support.v7.widget.CardView&gt;
    &lt;/LinearLayout&gt;


    &lt;LinearLayout
        <span class="s1">android:orientation=</span><span class="s2">&quot;horizontal&quot;</span>
        <span class="s1">android:layout_width=</span><span class="s2">&quot;match_parent&quot;</span>
        <span class="s1">android:layout_height=</span><span class="s2">&quot;match_parent&quot;</span>
        <span class="s1">android:layout_weight=</span><span class="s2">&quot;1&quot;</span>
        <span class="s1">android:weightSum=</span><span class="s2">&quot;4&quot;</span><span class="s0">&gt;</span>


        &lt;android.support.v7.widget.CardView
            <span class="s1">app:cardCornerRadius=</span><span class="s2">&quot;2dp&quot;</span>
            <span class="s1">app:cardBackgroundColor=</span><span class="s2">&quot;@color/gray&quot;</span>
            <span class="s1">android:layout_margin=</span><span class="s2">&quot;2dp&quot;</span>
            <span class="s1">android:layout_weight=</span><span class="s2">&quot;1&quot;</span>
            <span class="s1">android:layout_width=</span><span class="s2">&quot;132dp&quot;</span>
            <span class="s1">android:layout_height=</span><span class="s2">&quot;132dp&quot;</span><span class="s0">&gt;</span>

            &lt;RelativeLayout
                <span class="s1">android:layout_width=</span><span class="s2">&quot;match_parent&quot;</span>
                <span class="s1">android:layout_height=</span><span class="s2">&quot;match_parent&quot;</span><span class="s0">&gt;</span>
                &lt;ImageButton
                    <span class="s1">android:backgroundTint=</span><span class="s2">&quot;@color/colorPrimary&quot;</span>
                    <span class="s1">android:id=</span><span class="s2">&quot;@+id/imageButton5&quot;</span>
                    <span class="s1">android:layout_width=</span><span class="s2">&quot;match_parent&quot;</span>
                    <span class="s1">android:layout_height=</span><span class="s2">&quot;match_parent&quot;</span>
                    <span class="s1">android:onClick=</span><span class="s2">&quot;press&quot;</span>
                    <span class="s0">/&gt;</span>
                &lt;Button
                    <span class="s1">android:layout_margin=</span><span class="s2">&quot;3dp&quot;</span>
                    <span class="s1">android:layout_alignParentEnd=</span><span class="s2">&quot;true&quot;</span>
                    <span class="s1">android:background=</span><span class="s2">&quot;@drawable/points&quot;</span>
                    <span class="s1">android:layout_width=</span><span class="s2">&quot;20dp&quot;</span>
                    <span class="s1">android:layout_height=</span><span class="s2">&quot;20dp&quot; </span><span class="s0">/&gt;</span>
            &lt;/RelativeLayout&gt;
        &lt;/android.support.v7.widget.CardView&gt;

        &lt;android.support.v7.widget.CardView
            <span class="s1">android:layout_margin=</span><span class="s2">&quot;2dp&quot;</span>
            <span class="s1">app:cardCornerRadius=</span><span class="s2">&quot;2dp&quot;</span>
            <span class="s1">app:cardBackgroundColor=</span><span class="s2">&quot;@color/gray&quot;</span>
            <span class="s1">android:layout_weight=</span><span class="s2">&quot;1&quot;</span>
            <span class="s1">android:layout_width=</span><span class="s2">&quot;132dp&quot;</span>
            <span class="s1">android:layout_height=</span><span class="s2">&quot;132dp&quot;</span><span class="s0">&gt;</span>
            &lt;RelativeLayout
                <span class="s1">android:layout_width=</span><span class="s2">&quot;match_parent&quot;</span>
                <span class="s1">android:layout_height=</span><span class="s2">&quot;match_parent&quot;</span><span class="s0">&gt;</span>
                &lt;ImageButton
                    <span class="s1">android:backgroundTint=</span><span class="s2">&quot;@color/colorPrimary&quot;</span>
                    <span class="s1">android:id=</span><span class="s2">&quot;@+id/imageButton6&quot;</span>
                    <span class="s1">android:layout_width=</span><span class="s2">&quot;match_parent&quot;</span>
                    <span class="s1">android:layout_height=</span><span class="s2">&quot;match_parent&quot;</span>
                    <span class="s1">android:onClick=</span><span class="s2">&quot;press&quot;</span>
                    <span class="s0">/&gt;</span>
                &lt;Button
                    <span class="s1">android:layout_margin=</span><span class="s2">&quot;3dp&quot;</span>
                    <span class="s1">android:layout_alignParentEnd=</span><span class="s2">&quot;true&quot;</span>
                    <span class="s1">android:background=</span><span class="s2">&quot;@drawable/points&quot;</span>
                    <span class="s1">android:layout_width=</span><span class="s2">&quot;20dp&quot;</span>
                    <span class="s1">android:layout_height=</span><span class="s2">&quot;20dp&quot; </span><span class="s0">/&gt;</span>
            &lt;/RelativeLayout&gt;

        &lt;/android.support.v7.widget.CardView&gt;

        &lt;android.support.v7.widget.CardView
            <span class="s1">android:layout_margin=</span><span class="s2">&quot;2dp&quot;</span>
            <span class="s1">app:cardCornerRadius=</span><span class="s2">&quot;2dp&quot;</span>
            <span class="s1">app:cardBackgroundColor=</span><span class="s2">&quot;@color/gray&quot;</span>
            <span class="s1">android:layout_weight=</span><span class="s2">&quot;1&quot;</span>
            <span class="s1">android:layout_width=</span><span class="s2">&quot;132dp&quot;</span>
            <span class="s1">android:layout_height=</span><span class="s2">&quot;132dp&quot;</span><span class="s0">&gt;</span>
            &lt;RelativeLayout
                <span class="s1">android:layout_width=</span><span class="s2">&quot;match_parent&quot;</span>
                <span class="s1">android:layout_height=</span><span class="s2">&quot;match_parent&quot;</span><span class="s0">&gt;</span>
                &lt;ImageButton
                    <span class="s1">android:backgroundTint=</span><span class="s2">&quot;@color/colorPrimary&quot;</span>
                    <span class="s1">android:id=</span><span class="s2">&quot;@+id/imageButton7&quot;</span>
                    <span class="s1">android:layout_width=</span><span class="s2">&quot;match_parent&quot;</span>
                    <span class="s1">android:layout_height=</span><span class="s2">&quot;match_parent&quot;</span>
                    <span class="s1">android:onClick=</span><span class="s2">&quot;press&quot;</span>
                    <span class="s0">/&gt;</span>
                &lt;Button
                    <span class="s1">android:layout_margin=</span><span class="s2">&quot;3dp&quot;</span>
                    <span class="s1">android:layout_alignParentEnd=</span><span class="s2">&quot;true&quot;</span>
                    <span class="s1">android:background=</span><span class="s2">&quot;@drawable/points&quot;</span>
                    <span class="s1">android:layout_width=</span><span class="s2">&quot;20dp&quot;</span>
                    <span class="s1">android:layout_height=</span><span class="s2">&quot;20dp&quot; </span><span class="s0">/&gt;</span>
            &lt;/RelativeLayout&gt;
        &lt;/android.support.v7.widget.CardView&gt;

        &lt;android.support.v7.widget.CardView
            <span class="s1">android:layout_margin=</span><span class="s2">&quot;2dp&quot;</span>
            <span class="s1">app:cardCornerRadius=</span><span class="s2">&quot;2dp&quot;</span>
            <span class="s1">app:cardBackgroundColor=</span><span class="s2">&quot;@color/gray&quot;</span>
            <span class="s1">android:layout_weight=</span><span class="s2">&quot;1&quot;</span>
            <span class="s1">android:layout_width=</span><span class="s2">&quot;132dp&quot;</span>
            <span class="s1">android:layout_height=</span><span class="s2">&quot;132dp&quot;</span><span class="s0">&gt;</span>
            &lt;RelativeLayout
                <span class="s1">android:layout_width=</span><span class="s2">&quot;match_parent&quot;</span>
                <span class="s1">android:layout_height=</span><span class="s2">&quot;match_parent&quot;</span><span class="s0">&gt;</span>
                &lt;ImageButton
                    <span class="s1">android:backgroundTint=</span><span class="s2">&quot;@color/colorPrimary&quot;</span>
                    <span class="s1">android:id=</span><span class="s2">&quot;@+id/imageButton8&quot;</span>
                    <span class="s1">android:layout_width=</span><span class="s2">&quot;match_parent&quot;</span>
                    <span class="s1">android:layout_height=</span><span class="s2">&quot;match_parent&quot;</span>
                    <span class="s1">android:onClick=</span><span class="s2">&quot;press&quot;</span>
                    <span class="s0">/&gt;</span>
                &lt;Button
                    <span class="s1">android:layout_margin=</span><span class="s2">&quot;3dp&quot;</span>
                    <span class="s1">android:layout_alignParentEnd=</span><span class="s2">&quot;true&quot;</span>
                    <span class="s1">android:background=</span><span class="s2">&quot;@drawable/points&quot;</span>
                    <span class="s1">android:layout_width=</span><span class="s2">&quot;20dp&quot;</span>
                    <span class="s1">android:layout_height=</span><span class="s2">&quot;20dp&quot; </span><span class="s0">/&gt;</span>
            &lt;/RelativeLayout&gt;
        &lt;/android.support.v7.widget.CardView&gt;
    &lt;/LinearLayout&gt;

    &lt;LinearLayout
        <span class="s1">android:orientation=</span><span class="s2">&quot;horizontal&quot;</span>
        <span class="s1">android:layout_width=</span><span class="s2">&quot;match_parent&quot;</span>
        <span class="s1">android:layout_height=</span><span class="s2">&quot;match_parent&quot;</span>
        <span class="s1">android:layout_weight=</span><span class="s2">&quot;1&quot;</span>
        <span class="s1">android:weightSum=</span><span class="s2">&quot;4&quot;</span><span class="s0">&gt;</span>


        &lt;android.support.v7.widget.CardView
            <span class="s1">android:layout_margin=</span><span class="s2">&quot;2dp&quot;</span>
            <span class="s1">app:cardCornerRadius=</span><span class="s2">&quot;2dp&quot;</span>
            <span class="s1">app:cardBackgroundColor=</span><span class="s2">&quot;@color/gray&quot;</span>
            <span class="s1">android:layout_weight=</span><span class="s2">&quot;1&quot;</span>
            <span class="s1">android:layout_width=</span><span class="s2">&quot;132dp&quot;</span>
            <span class="s1">android:layout_height=</span><span class="s2">&quot;132dp&quot;</span><span class="s0">&gt;</span>
            &lt;RelativeLayout
                <span class="s1">android:layout_width=</span><span class="s2">&quot;match_parent&quot;</span>
                <span class="s1">android:layout_height=</span><span class="s2">&quot;match_parent&quot;</span><span class="s0">&gt;</span>
                &lt;ImageButton
                    <span class="s1">android:backgroundTint=</span><span class="s2">&quot;@color/colorPrimary&quot;</span>
                    <span class="s1">android:id=</span><span class="s2">&quot;@+id/imageButton9&quot;</span>
                    <span class="s1">android:layout_width=</span><span class="s2">&quot;match_parent&quot;</span>
                    <span class="s1">android:layout_height=</span><span class="s2">&quot;match_parent&quot;</span>
                    <span class="s1">android:onClick=</span><span class="s2">&quot;press&quot;</span>
                    <span class="s0">/&gt;</span>
                &lt;Button
                    <span class="s1">android:layout_margin=</span><span class="s2">&quot;3dp&quot;</span>
                    <span class="s1">android:layout_alignParentEnd=</span><span class="s2">&quot;true&quot;</span>
                    <span class="s1">android:background=</span><span class="s2">&quot;@drawable/points&quot;</span>
                    <span class="s1">android:layout_width=</span><span class="s2">&quot;20dp&quot;</span>
                    <span class="s1">android:layout_height=</span><span class="s2">&quot;20dp&quot; </span><span class="s0">/&gt;</span>
            &lt;/RelativeLayout&gt;
        &lt;/android.support.v7.widget.CardView&gt;

        &lt;android.support.v7.widget.CardView
            <span class="s1">android:layout_margin=</span><span class="s2">&quot;2dp&quot;</span>
            <span class="s1">app:cardCornerRadius=</span><span class="s2">&quot;2dp&quot;</span>
            <span class="s1">app:cardBackgroundColor=</span><span class="s2">&quot;@color/gray&quot;</span>
            <span class="s1">android:layout_weight=</span><span class="s2">&quot;1&quot;</span>
            <span class="s1">android:layout_width=</span><span class="s2">&quot;132dp&quot;</span>
            <span class="s1">android:layout_height=</span><span class="s2">&quot;132dp&quot;</span><span class="s0">&gt;</span>
            &lt;RelativeLayout
                <span class="s1">android:layout_width=</span><span class="s2">&quot;match_parent&quot;</span>
                <span class="s1">android:layout_height=</span><span class="s2">&quot;match_parent&quot;</span><span class="s0">&gt;</span>
                &lt;ImageButton
                    <span class="s1">android:backgroundTint=</span><span class="s2">&quot;@color/colorPrimary&quot;</span>
                    <span class="s1">android:id=</span><span class="s2">&quot;@+id/imageButton10&quot;</span>
                    <span class="s1">android:layout_width=</span><span class="s2">&quot;match_parent&quot;</span>
                    <span class="s1">android:layout_height=</span><span class="s2">&quot;match_parent&quot;</span>
                    <span class="s1">android:onClick=</span><span class="s2">&quot;press&quot;</span>
                    <span class="s0">/&gt;</span>
                &lt;Button
                    <span class="s1">android:layout_margin=</span><span class="s2">&quot;3dp&quot;</span>
                    <span class="s1">android:layout_alignParentEnd=</span><span class="s2">&quot;true&quot;</span>
                    <span class="s1">android:background=</span><span class="s2">&quot;@drawable/points&quot;</span>
                    <span class="s1">android:layout_width=</span><span class="s2">&quot;20dp&quot;</span>
                    <span class="s1">android:layout_height=</span><span class="s2">&quot;20dp&quot; </span><span class="s0">/&gt;</span>
            &lt;/RelativeLayout&gt;

        &lt;/android.support.v7.widget.CardView&gt;

        &lt;android.support.v7.widget.CardView
            <span class="s1">android:layout_margin=</span><span class="s2">&quot;2dp&quot;</span>
            <span class="s1">app:cardCornerRadius=</span><span class="s2">&quot;2dp&quot;</span>
            <span class="s1">app:cardBackgroundColor=</span><span class="s2">&quot;@color/gray&quot;</span>
            <span class="s1">android:layout_weight=</span><span class="s2">&quot;1&quot;</span>
            <span class="s1">android:layout_width=</span><span class="s2">&quot;132dp&quot;</span>
            <span class="s1">android:layout_height=</span><span class="s2">&quot;132dp&quot;</span><span class="s0">&gt;</span>
            &lt;RelativeLayout
                <span class="s1">android:layout_width=</span><span class="s2">&quot;match_parent&quot;</span>
                <span class="s1">android:layout_height=</span><span class="s2">&quot;match_parent&quot;</span><span class="s0">&gt;</span>
                &lt;ImageButton
                    <span class="s1">android:backgroundTint=</span><span class="s2">&quot;@color/colorPrimary&quot;</span>
                    <span class="s1">android:id=</span><span class="s2">&quot;@+id/imageButton11&quot;</span>
                    <span class="s1">android:layout_width=</span><span class="s2">&quot;match_parent&quot;</span>
                    <span class="s1">android:layout_height=</span><span class="s2">&quot;match_parent&quot;</span>
                    <span class="s1">android:onClick=</span><span class="s2">&quot;press&quot;</span>
                    <span class="s0">/&gt;</span>
                &lt;Button
                    <span class="s1">android:layout_margin=</span><span class="s2">&quot;3dp&quot;</span>
                    <span class="s1">android:layout_alignParentEnd=</span><span class="s2">&quot;true&quot;</span>
                    <span class="s1">android:background=</span><span class="s2">&quot;@drawable/points&quot;</span>
                    <span class="s1">android:layout_width=</span><span class="s2">&quot;20dp&quot;</span>
                    <span class="s1">android:layout_height=</span><span class="s2">&quot;20dp&quot; </span><span class="s0">/&gt;</span>
            &lt;/RelativeLayout&gt;
        &lt;/android.support.v7.widget.CardView&gt;

        &lt;android.support.v7.widget.CardView
            <span class="s1">android:layout_margin=</span><span class="s2">&quot;2dp&quot;</span>
            <span class="s1">app:cardCornerRadius=</span><span class="s2">&quot;2dp&quot;</span>
            <span class="s1">app:cardBackgroundColor=</span><span class="s2">&quot;@color/gray&quot;</span>
            <span class="s1">android:layout_weight=</span><span class="s2">&quot;1&quot;</span>
            <span class="s1">android:layout_width=</span><span class="s2">&quot;132dp&quot;</span>
            <span class="s1">android:layout_height=</span><span class="s2">&quot;132dp&quot;</span><span class="s0">&gt;</span>
            &lt;RelativeLayout
                <span class="s1">android:layout_width=</span><span class="s2">&quot;match_parent&quot;</span>
                <span class="s1">android:layout_height=</span><span class="s2">&quot;match_parent&quot;</span><span class="s0">&gt;</span>
                &lt;ImageButton
                    <span class="s1">android:backgroundTint=</span><span class="s2">&quot;@color/colorPrimary&quot;</span>
                    <span class="s1">android:id=</span><span class="s2">&quot;@+id/imageButton12&quot;</span>
                    <span class="s1">android:layout_width=</span><span class="s2">&quot;match_parent&quot;</span>
                    <span class="s1">android:layout_height=</span><span class="s2">&quot;match_parent&quot;</span>
                    <span class="s1">android:onClick=</span><span class="s2">&quot;press&quot;</span>
                    <span class="s0">/&gt;</span>
                &lt;Button
                    <span class="s1">android:layout_margin=</span><span class="s2">&quot;3dp&quot;</span>
                    <span class="s1">android:layout_alignParentEnd=</span><span class="s2">&quot;true&quot;</span>
                    <span class="s1">android:background=</span><span class="s2">&quot;@drawable/points&quot;</span>
                    <span class="s1">android:layout_width=</span><span class="s2">&quot;20dp&quot;</span>
                    <span class="s1">android:layout_height=</span><span class="s2">&quot;20dp&quot; </span><span class="s0">/&gt;</span>
            &lt;/RelativeLayout&gt;
        &lt;/android.support.v7.widget.CardView&gt;
    &lt;/LinearLayout&gt;

&lt;/LinearLayout&gt;</pre>
</body>
</html>